/* Global reset and box-sizing */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body and font settings */
body {
    font-family: 'Roboto', sans-serif;
    background-color: #000;
    color: #fff;
}

/* Top bar */
.top-bar {
    display: flex;
    justify-content: space-between; /* Title on the left, image on the right */
    align-items: center; /* Vertically align items */
    padding: 20px;
    width: 100%; /* Full width */
    flex-wrap: wrap;
}

.title-container {
    margin-top: 10px;
    font-size: 0.8em;
    font-weight: 700;
    font-family: "Roboto Condensed";
    text-align: left;
    flex-grow: 1; /* Title takes remaining space */
}

.underline {
    width: 30%;
    border: 2px solid #fff;
    margin-top: 5px;
}

.home-icon {
    width: 60px;
    height: 60px;
    cursor: pointer;
}

/* Stopwatch section */
.watch-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.watch {
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-direction: column;
    background-color: #DDFFFD;
    border-radius: 20px;
    font-size: 2em;
    width: 80%;
}

#display {
    color: #000;
    font-family: "Rubik", sans-serif;
    font-weight: bold;
}

/* Stop button */
.stop-btn {
    margin-top: 20px;
    padding: 1em;
    width: 70%;
    font-family: "Russo One";
    background-color: #930000 ;
    color: #fff;
    border: none;
    border-radius: 100px;
    font-weight: bold;
    font-size: 1.5em;
}

/* Content section */
.content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    width: 100%;
}

.left-box {
    background-color: #930000;
    color: #ffffff;
    height: 210px;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}

.left-box-icon {
    width: 120px;
    height: 120px;
}

.text-content {
    text-align: left;
    font-family: "Russo one";
}

.left-box p {
    font-size: 2em;
    font-weight: 700;
    font-family: "Russo One";
}

.left-box .small-text {
    font-size: 10px;
    margin-top: 10px;
    font-weight: 300;
    font-family: "Russo one";
}

/* Right Boxes */
.right-boxes {
    display: flex;
    justify-content: space-between;
}

.right-box {
    border-radius: 20px;
    color: #000;
    height: 98px;
    width: 48%;
    margin-bottom: 10px;
    padding: 20px;
    box-sizing: border-box;
    position: relative;
}

.right-box.orange {
    background-color: #FFA500;
}

.right-box.grey {
    background-color: #D3D3D3;
    font-family: "Russo One";
}

.right-box p {
    margin-left: 45px;
    font-size: 1em;
    font-weight: 700;
    font-family: "Russo One";
    

}

.right-box .small-text {
    font-size: 12px;
}

/* Icons in right boxes */
.trip-box-icon, .km-box-icon {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}

.trip-box-icon {
    padding-left: 20px;
    width: 50px;
    height: 30px;
}

.km-box-icon {
    padding-left: 15px;
    width: 50px;
    height: 50px;
}
