@import "style.css";
html{
    background-color: #000000;
}

.lg-body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-image {
    width: 600px;
    height: auto;
    margin-bottom: 40px;
    margin-left: 10px;
    margin-right:10px;
}

.log-display {
    margin-top: 25em;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.header-text {
    display: flex;
    flex-direction: column;
    align-items: center;

}
h1{
    
    font-family: "Roboto";
    font-weight: 200;
    font-size: 2.2em;
    margin-bottom: 60px;
    color: aliceblue;

}
.btn-section {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
}
.header-text{
    font-family: "Roboto Condensed";
    font-weight: 300;
    color: aliceblue;
}
.btn {
    margin-top: 5em;
    padding: 1em;
    width: 15em;
    height: 4.5em;
    border-radius: 80px;
    color: var(--text-color);
    background-color: var(--accent-color);
    border: none;
    font-family: "Roboto";
    font-weight: bold;
    cursor: pointer;
    font-size: 30px;
    background-color: #d32f2f;
}
.btn:hover {
    background-color: #d32f2f;
}
.btn-black:hover {
    background-color: #3b3b3b;
}

.btn-black {
    background-color: var(--accent-color-dark);

}
.register-link {
    font-family: "Roboto Condensed";
    color:#e53935;
    text-decoration: none; 
    border-bottom: 2px solid #e53935; 
    padding-bottom: 2px; 
  }

  .login{
    margin-top: 2em;
    font-size: 2em;

  }


