@import "style.css";

.lg-body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-image {
    width: 300px;
    height: auto;
}

.log-display {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.header-text {
    font-family: "Roboto";
    font-weight: normal;
    font-size: .6em;
    margin-bottom: 2rem;

}

.btn-section {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.btn {
    padding: .5em;
    width: 15em;
    border-radius: 50px;
    color: var(--text-color);
    background-color: var(--accent-color);
    border: none;
    font-family: "Roboto";
    font-weight: bold;
}

