/* 1. Use a more-intuitive box-sizing model */

:root {
    --bg-color: #000000;
    --accent-color: #e3250b;
    --accent-color-dark: #544c49;
    --text-color: #c0b8b1;
    --ff-base: 'K2D', sans-serif, Arial, Helvetica, sans-serif;
}
*, *::before, *::after {
    box-sizing: border-box;
  }
  
  /* 2. Remove default margin */
  * {
    margin: 0;
  }
  
  body {
    /* 3. Add accessible line-height */
    line-height: 1.5;
    /* 4. Improve text rendering */
    -webkit-font-smoothing: antialiased;
  }
  
  /* 5. Improve media defaults */
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  
  /* 6. Inherit fonts for form controls */
  input, button, textarea, select {
    font: inherit;
  }
  
  /* 7. Avoid text overflows */
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  
  /* 8. Improve line wrapping */
  p {
    text-wrap: pretty;
  }
  h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
  }
  
  /*
    9. Create a root stacking context
  */
  #root, #__next {
    isolation: isolate;
  }
  html {
    height: 100%;
  }

  body{
    height: 100%;
    background-color: var(--bg-color);
    color: var(--text-color);
    font-family: var(--ff-base);
    
  }
  
